---
name: release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '*' # Push any events

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            rpm_arch: x86_64
            deb_arch: amd64
            docker-image: "amazonlinux:2"
            pre-build-command: 'yum install -y rpm-build rpmdevtools gcc make coreutils python git rsync yum-utils GeoIP-devel https://github.com/fb929/build-libmaxminddb/releases/download/1.11.0-0/libmaxminddb-1.11.0-0.amzn2.x86_64.rpm'
          #- platform: linux/arm64
          #  rpm_arch: aarch64
          #  deb_arch: arm64
          #  docker-image: "amazonlinux:2"
          - platform: linux/amd64
            rpm_arch: x86_64
            deb_arch: amd64
            docker-image: "almalinux:9"
            pre-build-command: 'yum install -y http://www6.atomicorp.com/channels/atomic/centos/9/x86_64/RPMS/atomic-release-1.0-23.el9.art.noarch.rpm; dnf install --allowerasing -y rpm-build rpmdevtools gcc make coreutils python git rsync yum-utils GeoIP-devel https://github.com/fb929/build-libmaxminddb/releases/download/1.11.0-0/libmaxminddb-1.11.0-0.amzn2.x86_64.rpm'
          - platform: linux/arm64
            rpm_arch: aarch64
            deb_arch: arm64
            docker-image: "almalinux:9"
            pre-build-command: 'yum install -y http://www6.atomicorp.com/channels/atomic/centos/9/aarch64/RPMS/atomic-release-1.0-23.el9.art.noarch.rpm; dnf install --allowerasing -y rpm-build rpmdevtools gcc make coreutils python git rsync yum-utils GeoIP-devel https://github.com/fb929/build-libmaxminddb/releases/download/1.11.0-0/libmaxminddb-1.11.0-0.amzn2.aarch64.rpm'
    steps:
      - name: check out repository code
        uses: actions/checkout@v4

      - name: build RPM package
        uses: fb929/rpmbuild@main
        with:
          platform: ${{ matrix.platform }}
          docker-image: ${{ matrix.docker-image }}
          pre-build-command: ${{ matrix.pre-build-command }}

      # create release and upload assets
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: true
          files: |
            ./result/*.rpm
            ./result/*.sha256sum
            ./result/*.md5sum
